<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <style>
        .about-container {
            text-align: center;
        }

        .about-container img {
            width: 200px; 
            margin: 10px; 
        }
    </style>
</head>
<body>
    <section class="header">

        <div class="dropdown">
            <span>Menu</span>
            <div class="dropdown-content">
                <a href="about">About <%=shopName%></a>
                <a href="register">Register with us</a>
                <a href="listStock">List of Current Hardware Issue</a>
                <a href="login">Log into your account!</a>
                <a href="logout">Log Out!</a>
                <a href="removeuser">Remove a User</a>
                <a href="GamesAPI">Check out some of these free games for PC!</a>
            </div>
        </div>


        <div class="about-container">
            <h1>StockTrack</h1>
            <p>Inventory Management made simple!</p>
            <img src="images/computer.jpeg" alt="Image 1">
            <img src="images/phone.jpg" alt="Image 2">
            <img src="images/tablet.jpg" alt="Image 3">
            <p>Access your business model. Any time! Any Device! Whether it is on the go or from your own house!</p>
            <p>
                Welcome to our project focused on developing and critically evaluating an application tailored for small businesses, including supermarkets and local stores, to combat food wastage. With a foundation in key areas of computer science such as algorithms, data structures, databases, and image processing and vision, our aim is to create an accessible and user-friendly solution. Our project objectives encompass evaluating existing stock management and inventory systems, identifying underutilized features, implementing appropriate data structures, devising algorithms for optimal pricing of expiring items, designing an intuitive GUI for enhanced usability, and rigorously testing each aspect of the application for effectiveness in reducing food wastage. Additionally, we are committed to conducting market research within our target demographic of small food and drink businesses to ensure our application meets their needs and effectively addresses the challenge of food wastage.</p>
        </div>
    </section>
</body>
</html>




