
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4685c4;
}

.title {
    text-align: center;
}

#slideshow-container {
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slideshow-item {
    display: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.updatePrices {
    text-align: left;
    margin-left: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    min-height: calc(100vh - 60px); /* Adjust based on the footer height */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
.coral-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: coral;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}